---
---

@import "{{ site.theme }}";

.wrapper {
    //max-width: -webkit-calc(800px - (30px * 2));
    //max-width: calc(800px - (30px * 2));
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}